<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PasswordGenerator" version="2.1.0" targetFramework="net472" />
  <package id="Xakml.Common.StringTools" version="1.0.0.1" targetFramework="net472" />
  <package id="Xakml.Common.Toolkit" version="1.0.3" targetFramework="net472" />
</packages>